body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* Header */
header {
    background-color: rgb(44, 116, 116);
    padding: 10px 40px;
}

/* Buttons */
.btn {
    background: #bdbcb9;
    padding: 10px 15px;
    color: #000000;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
}

/* Products grid */
.products-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Product card */
.product {
    width: 260px;
    background: #785959;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #766161;
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

/* Cart items */
.cart-item {
    background: #645a5a;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #512424;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.cart-item input.quantity {
    width: 50px;
}

/* Бокова панель кошика */
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100%;
    background-color: #785959;
    padding: 20px;
    box-shadow: -3px 0 10px rgba(0,0,0,0.3);
    transition: right 0.3s;
    overflow-y: auto;
    z-index: 1000;
}

.cart-sidebar.open {
    right: 0;
}
