body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* Header */
header {
    background-color: rgb(44, 116, 116);
    padding: 10px 40px;
}

/* Buttons */
.btn {
    background: #bdbcb9;
    padding: 10px 15px;
    color: #000000;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
}

/* Products grid */
.products-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Product card */
.product {
    width: 260px;
    background: #785959;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #766161;
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

/* Cart items */
.cart-item {
    background: #645a5a;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #512424;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.cart-item input.quantity {
    width: 60px;
}

.total {
    margin-top: 20px;
    font-size: 22px;
}
