header {
    background-color: rgb(44, 116, 116);
}

section {
    padding: 40px 0;
}

.products-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.product {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px;

    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card-products {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
}

.card-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #ffffff;
}

.caunt-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.caunt-box input {
    width: 60px;
    text-align: center;
}